@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey:hsl(216, 12%, 54%);
$dark-blue:hsl(213, 19%, 18%);
$very-blue:hsl(216, 12%, 8%);

* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    color: $white;
}





#background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 660px;
}

.main {
    width: 327px;
    height: 360px;
    background: linear-gradient($dark-blue, $very-blue);
    border-radius: 13px;
    margin: 30px;
    padding: 23px;
}

.star {
    margin-bottom: 15px;
}

.white {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white:hover {
    background-color: $very-blue;
}

.title {
    margin-bottom: 13px;
    font-size: 24px;
}

.text {
    color: $light-grey;
    font-size: 14px;
    margin-bottom: 25px;
}

.ratings {
    display: flex;
    justify-content: space-around;
}

.rating {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-grey;
}

.rating:hover {
    background-color: $orange;
    color: $white;
    cursor: pointer;
}

.rating:target {
    background-color: $orange;
}

.numbers {
    color: $medium-grey;
}



.button {
    background-color: $orange;
    width: 279px;
    height: 45px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: $white;
    letter-spacing: 5px;
}

.button:hover {
    background-color: $white;
    cursor: pointer;
    color: $orange;
}





// new cart 

#thanks {
  position: relative;
  left: 65px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#thankYou {
    height: 32px;
    width: 168px;
    background-color: $dark-blue;
    color: $orange;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 56px;
    margin-bottom: 25px;
}

#titulo {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

#parafo {
    text-align: center;
    font-size: 14px;
    color: $medium-grey;
}

